<section class="flex h-screen w-full flex-wrap md:flex-nowrap">
  <section class="md:basis-1/2 self-center items-center flex flex-col w-full">
    <h1 class="text-4xl font-open-sans mb-7">ECU IFE</h1>
    <h2 class="text-black-100 font-jost text-2xl mb-7">Sign In To Your Account</h2>

    <%= form_with(model: resource, as: resource_name, url: user_session_path, id: 'login', data: { turbo: false }, class: 'w-full md:w-7/12 md-p-0 px-3 md:w-9/12 text-center font-open-sans text-gray-400') do |f| %>
      <div class="field mb-7">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email Address', class: 'text-gray-400 rounded focus:border-gray-100 focus:ring-0 w-full border-solid border-1 border-gray-100 px-5 py-4' %>
      </div>

      <div class="field mb-7">
        <%= f.password_field :password, autocomplete: "current-password",  placeholder: 'Password', class: 'text-gray-400 rounded focus:border-gray-100 focus:ring-0 w-full border-solid border-1 border-gray-100 px-5 py-4' %>
      </div>

      <div class="flex justify-between mb-8 ">
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me, class:'-mt-0.5 mr-1' %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <%= link_to "Forgot your password?", new_user_password_path %>
      </div>
      <div class="actions mb-7">
        <%= f.submit "Log in", class: 'px-12 py-4 bg-green-200 btn text-white w-full rounded ' %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
  </section>
  <aside class="border-solid border-2 border-green md:basis-1/2 hidden md:block">

  </aside>
</section>



