<!DOCTYPE html>
<html>
  <head>
    <title>Ecuife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap" rel="stylesheet">
    </head>

  <body>
    <main class="">
      <% flash.each do |key, value| %>
        <div data-controller="flash" class="flash <%= key %>" %>
          <div class="mr-4 basis-1/6">
            <%= image_tag "#{key}.png", class: 'w-8' %>
          </div>
          <div class="basis-4/6">
            <h4 class="mb-1 font-semibold capitalize"><%= key %></h4>
            <p class="text-sm text-gray-400"><%= value %></p>
          </div>

          <div class="basis-1/6 text-right">
            <button type="button" data-action="flash#dismiss">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      <% end %>
     
      <%= yield %>
    </main>
  </body>
</html>
